<style>
  {# @page {
    size: a4 portrait;
  } #}
 
  </style>

<table style="background-color: rgba(2, 175, 240, 0.1);   padding:40px; margin-right:100; width:100%;">
	<tr>

		<td colspan="4" style="width: 250px;">

			<div
				class="d-flex flex-column align-items-md-end px-0">
				<!--begin::Logo-->
				<a href="#" class="mb-5">

					{% if orglogos %}

						{# <img src="{{ orglogos }}" width="60" height="60" /> #}
					{% endif %}

				</a>
				 <h1 class="display-4 font-weight-boldest mb-10">{{app_name}}</h1>
Ethiopian Public Health Institute
Institutional Review Board (EPHI-IRB)
            </div>
		</td>
		<td colspan="4" style="width: 120px;">
			 
		</td>
        
		<td colspan="4" style="width: 150px;">
			<span class="d-flex flex-column align-items-md-end opacity-70">
				
                <span>sero@ephi.gov.et<br></span>
                <span>+2511111111110 <br></span>
                <span>Addis Ababa, Ethiopia<br></span>
				<span>Sr. Paul Street, <br>Luis Partor Avenu</span>
			</span>
		</td>
	</tr>
    <tr style="background-color: red; margin:0;  height:3px;  margin-right:10; width:100%;">
    <td></td>
    </tr>
</table>
<table style="background-color:rgba(105, 147, 255, 0.24); margin:0; height:3px;  padding:6px; margin-right:10; width:100%;">
</table>
<div
	class="d-flex flex-column-fluid">
	<!--begin::Container-->
	<div class="container">
					<div class="font-weight-boldest mb-10 my-4"> <center> IRB Certificate</center></div>

		<div class="card-body p-0">
			<!-- begin: Invoice-->
			<!-- begin: Invoice header-->
				<div class="row justify-content-center py-8 px-8 py-md-27 px-md-0"> 
                <div class="col-md-9">
					 
					<div class="d-flex justify-content-between pt-6">
						<div class="d-flex flex-column flex-root">
							<span class="font-weight-bolder mb-2">DATA</span>
							<span class="opacity-70">Dec 12, 2017</span>
						</div>
						<div class="d-flex flex-column flex-root">
							<span class="font-weight-bolder mb-2">INVOICE NO.</span>
							<span class="opacity-70">GS 000014</span>
						</div>
						<div class="d-flex flex-column flex-root">
							<span class="font-weight-bolder mb-2">INVOICE TO.</span>
							<span class="opacity-70">Iris Watson, P.O. Box 283 8562 Fusce RD.
								<br>Fredrick Nebraska 20620</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end: Invoice header-->
			<!-- begin: Invoice body-->
			<div class="container">

				<div class="row justify-content-center py-8 px-8 py-md-8 px-md-0">
					<div class="col-md-6">
						<div class="table-responsive">
							{{title}}
						</div>
					</div>
				</div>
			</div>
			<!-- end: Invoice body-->
			<!-- begin: Invoice footer-->
			<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
				<div class="col-md-9">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="font-weight-bold text-muted text-uppercase">Ethical</th>
									<th class="font-weight-bold text-muted text-uppercase">Scintifically</th>
									<th class="font-weight-bold text-muted text-uppercase">DUE DATE</th>
									<th class="font-weight-bold text-muted text-uppercase">Overall</th>
								</tr>
							</thead>
							<tbody>
								<tr class="font-weight-bolder">
									<td>BARCLAYS UK</td>
									<td>12345678909</td>
									<td>Jan 07, 2018</td>
									<td class="text-danger font-size-h3 font-weight-boldest">Approved</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            
             
		</div>
	</div>
</div>
    <table style="background-color:rgba(105, 147, 255, 0.24);   position: absolute;  margin-top:285px;  padding:40px;   width:100%;">
</table>