{% extends 'base.html.twig' %}

{% block title %}Verify {% endblock %}

{% block body %}
    <h1>Verify</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Verify') }}</button>
{{ form_end(form) }} 
{% endblock %}
