{% extends 'base.html.twig' %}

{% block title %}Partner index
{% endblock %}

{% block body %}

	<div class="card card-custom gutter-b">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">Need assessment</h3>
			</div>
		</div>
		<div class="card-body">
			<div class="example-preview">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
							<span class="nav-icon">
								<i class="fa fa-chart-bar"></i>
							</span>
							<span class="nav-text">Visualised view</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile">
							<span class="nav-icon">
								<i class="fa fa-table"></i>
							</span>
							<span class="nav-text">Table view</span>
						</a>
					</li>

				</ul>
				<div class="tab-content mt-5" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row">
							<div class="col-5 ">
								<div id="div_piechart"></div>

							</div>
							<div class="col-5   ">

								<div id="div_histogram"></div>
							</div>
						</div>

					</div>
					<div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="table-responsive">
							<table class="table table-bordered  table-vertical-center">
								<thead>
									<tr>
										<th>#</th>
										<th>{% trans %}Name{% endtrans %}</th>
										<th>{% trans %}Organizers{% endtrans %}</th>
										<th>{% trans %}Modality{% endtrans %}</th>
										<th>{% trans %}Participants{% endtrans %}</th>
										<th nowrap="nowrap">{% trans %}Duration{% endtrans %}
										</th>
										<th class="p-0" style="min-width: 150px"></th>
									</tr>
								</thead>
								<tbody>
									{% for training in needs %}
										<tr>
											<td>{{ training.id }}</td>
											<td>{{ training.name }}</td>
										</tr>

									{% else %}
										<tr>
											<td colspan="8">{% trans %}no records found{% endtrans %}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab content 3</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">{{ gc_draw([piechart, histogram], ['div_piechart', 'div_histogram']) }}</script>
{% endblock %}
