{% extends 'base.html.twig' %}

{% block title %}New Application{% endblock %}

{% block body %}
    <h1>Create new Application</h1>

    {{ include('sero/application/_form.html.twig') }}

 {% endblock %}
