{% extends 'base.html.twig' %}

{% block title %}Edit MeetingSchedule{% endblock %}

{% block body %}
    <h1>Edit MeetingSchedule</h1>

    {{ include('sero/meeting_schedule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_s_e_r_o_meeting_schedule_index') }}">back to list</a>

    {{ include('sero/meeting_schedule/_delete_form.html.twig') }}
{% endblock %}
