{% extends 'base.html.twig' %}

{% block title %}New MeetingSchedule{% endblock %}

{% block body %}
    <h1>Create new MeetingSchedule</h1>

    {{ include('sero/meeting_schedule/_form.html.twig') }}

 {% endblock %}
