{% extends 'base.html.twig' %}

{% block title %}Edit Fund{% endblock %}

{% block body %}
    <h1>Edit Fund</h1>

    {{ include('fund/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fund_index') }}">back to list</a>

    {{ include('fund/_delete_form.html.twig') }}
{% endblock %}
