{% extends 'base.html.twig' %}

{% block title %}New FundTransaction{% endblock %}

{% block body %}
    <h1>Create new FundTransaction</h1>

    {{ include('fund_transaction/_form.html.twig') }}

 {% endblock %}
