{% block body %}

	<div
		class="col-xxl-8 order-2 order-xxl-1">
		<!--begin::Advance Table Widget 2-->
		<div
			class="card card-custom card-stretch gutter-b">
			<!--begin::Header-->
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label font-weight-bolder text-dark">
						{# {% if orglogos %}

							<img src="{{ orglogos }}" width="60" height="60" alt="Logo"/>
						{% endif %} #}
					</span>
					<span class="text-muted mt-3 font-weight-bold font-size-sm">
						<u>Statement
							{% if  fundName  %} Details of fund transaction {% else %} All {% endif %}
						</u>
					</span>
				</h3>

			</div>

			<div
				class="card-body pt-3 pb-0">
				<!--begin::Table-->
				<div class="table-responsive">
					<table style='boredered' class="table table-bordered  table-vertical-center">
						<thead>
							<tr>
								<th>#</th>
								<th>Ref. Nubmer</th>
								<th>Budget</th>
								<th>Deduction</th>
								<th>Balance History</th>
								<th>Deducted At</th>
								<th>Name</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

				</div>

			</div>
		</div>
	</div>
{% endblock %}
