{% extends 'base.html.twig' %}

{% block title %}Edit TrainingTopic{% endblock %}

{% block body %}
    <h1>Edit TrainingTopic</h1>

    {{ include('training_topic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_training_topic_index') }}">back to list</a>

    {{ include('training_topic/_delete_form.html.twig') }}
{% endblock %}
