{% extends 'base.html.twig' %}

{% block title %}New TrainingTopic{% endblock %}

{% block body %}
    <h1>Create new TrainingTopic</h1>

    {{ include('training_topic/_form.html.twig') }}

    <a href="{{ path('app_training_topic_index') }}">back to list</a>
{% endblock %}
